<h2 class="h3"> Reset Password
</h2>
<h3 class="lead">Please Enter Your Otp or Check Your Inbox</h3>
<form [formGroup]="resetPassword" (ngSubmit)="login()">
    <div class="input-group mb-3">
        <span class="input-group-text"><i class="fa-solid fa-mobile-screen"></i></span>
        <input type="email" class="form-control" formControlName="email" placeholder="Enter your E-mail" [ngClass]="{
    'is-invalid': resetPassword.get('email')?.invalid && resetPassword.get('email')?.touched,
    'is-valid': resetPassword.get('email')?.valid && resetPassword.get('email')?.touched
  }">
    </div>
    <div>
        <p *ngIf="(resetPassword.get('email')?.errors?.['required'] ||resetPassword.get('email')?.errors?.['email']) && resetPassword.get('email')?.touched"
            class="alert alert-danger p-2 rounded-3">
            E-mail is required or incorrect
        </p>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
        <input type='text' class="form-control" formControlName="seed" placeholder="OTP" [ngClass]="{
    'is-invalid': resetPassword.get('seed')?.invalid && resetPassword.get('seed')?.touched,
    'is-valid': resetPassword.get('seed')?.valid && resetPassword.get('seed')?.touched
  }">
    </div>
    <div>
        <p *ngIf=" resetPassword.get('seed')?.errors?.['required'] && resetPassword.get('seed')?.touched"
            class="alert alert-danger p-2 rounded-3">
            Otp is required
        </p>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
        <input [type]="isHide?'password':'text'" class="form-control" formControlName="password" placeholder="Password"
            [ngClass]="{
    'is-invalid': resetPassword.get('password')?.invalid && resetPassword.get('password')?.touched,
    'is-valid': resetPassword.get('password')?.valid && resetPassword.get('password')?.touched
  }">

        <a class="input-group-text" (click)="isHide=!isHide ">
            <span>
                <i class="fa-solid " [class]="isHide? 'fa-eye-slash' :'fa-eye'"></i>
            </span>
        </a>



    </div>


    <div>
        <p *ngIf=" resetPassword.get('password')?.errors?.['required'] && resetPassword.get('password')?.touched"
            class="alert alert-danger p-2 rounded-3">
            Password is required
        </p>

        <p *ngIf="resetPassword.get('password')?.errors?.['minlength'] && resetPassword.get('password')?.touched"
            class="alert alert-danger p-2 rounded-3">
            Password must be at least 3 characters
        </p>

        <p *ngIf="resetPassword.get('password')?.errors?.['maxlength'] && resetPassword.get('password')?.touched"
            class="alert alert-danger p-2 rounded-3">
            Password must be no more than 20 characters
        </p>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
        <input [type]="isHideConfirm?'password':'text'" class="form-control" formControlName="confirmPassword"
            placeholder="confirmPassword" [ngClass]="{
    'is-invalid': resetPassword.get('confirmPassword')?.invalid && resetPassword.get('confirmPassword')?.touched,
    'is-valid': resetPassword.get('confirmPassword')?.valid && resetPassword.get('confirmPassword')?.touched
  }">

        <a class="input-group-text" (click)="isHideConfirm=!isHideConfirm ">
            <span>
                <i class="fa-solid " [class]="isHideConfirm? 'fa-eye-slash' :'fa-eye'"></i>
            </span>
        </a>



    </div>


    <div>
        <p *ngIf=" resetPassword.getError('misMatch') && resetPassword.get('confirmPassword')?.touched"
            class="alert alert-danger p-2 rounded-3">
            confirmPassword confirmation is incorrect
        </p>
    </div>

    <button class="btn-main w-100" type="submit">Reset Password</button>
</form>