.container-fluid{
    background-image: url(../../assets/images/Group.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .datiles{
        border-radius: 1rem;
        padding: 1.25rem;
    }
    min-height: 100vh;
}