button.btn-main {
  background-color: var(--mainColor);
  border: 1px solid transparent;
  border-radius: 16px;
  color: white;
  padding-block: 10px;
  transition: all 1s;
  &:hover {
    background-color: white;
    color: var(--mainColor);
    border-color: var(--mainColor);
  }
}
a{
    cursor: pointer;
}
a.Forgot{
    color: var(--mainColor);
    text-decoration: none;
}