.main-bg {
  background-image: url(../../../../assets/images/Rectangle.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  span {
    font-size: 32px;
    font-weight: 400;
  }
}
