// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$FoodManagementSystem-primary: mat.define-palette(mat.$indigo-palette);
$FoodManagementSystem-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

// The warn palette is optional (defaults to red).
$FoodManagementSystem-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$FoodManagementSystem-theme: mat.define-light-theme(
  (
    color: (
      primary: $FoodManagementSystem-primary,
      accent: $FoodManagementSystem-accent,
      warn: $FoodManagementSystem-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($FoodManagementSystem-theme);

/* You can add global styles to this file, and also import other style files */
:root {
  --mainColor: #4aa35a;
}
html {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}
button.btn-main {
  background-color: var(--mainColor);
  border: 1px solid transparent;
  border-radius: 16px;
  color: white;
  padding: 10px;
  transition: all 1s;
  &:hover {
    background-color: white;
    color: var(--mainColor);
    border-color: var(--mainColor);
  }
}
a {
  cursor: pointer;
}
a.Forgot {
  color: var(--mainColor);
  text-decoration: none;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
